.head { 
background-color: #FDF5E6;
height: 150px;
 }

 body {
  background-color: #FFFACD;
}
  main {
    margin-top: 100px;
 }

footer {
  background-color: #D8BFD8;
  height: 200px;
}
.column {
    float: left;
    width: 15%;
    
}
li {
  display: inline;
}

.left-angle {
  position: absolute;
  left: 15%;
  top: 40%;
  transform: translate(-200px, 150px);
  display: inline-block;
}
.right-angle {
      position: absolute;
      left: 56%;
      top: 40%;
      transform: translate(-200px, 150px);
      display: inline-block;
}
